@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@400;700&display=swap');

.navbar-brand {
  font-family: 'MuseoModerno', cursive;
}

 h3 {
	color: #ff1500;
} 

p {
  font-size: 20px;
}

/*.chicken {
	border : 3px solid #000000;
}*/ 

nav {
	background-color: #ffce1f;
}

.navbar-light .navbar-nav .nav-link {
	color: #000000;
}

div#chicken {
	background-color: #D3D3D3;
}



