@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@400;700&display=swap');

.navbar-brand {
  font-family: 'MuseoModerno', cursive;
}

 h3 {
	color: #064ac5;
} 

p {
  font-size: 20px;
}

nav {
	background-color: #ffce1f;
}

div#chicken {
	background-color: #D3D3D3;
}



